<div class="flex flex-col flex-auto min-w-0">

    <!--------------------------------------------------------------------------------------------->
    <!-- Main -->
    <!--------------------------------------------------------------------------------------------->
    <div class="flex-auto p-6 sm:p-10">

        <!--------------------------------------------------------------------------------------------->
        <!-- Page Image -->
        <!--------------------------------------------------------------------------------------------->
        <div class="w-full flex justify-center">
            <img class="w-26" src="assets/images/logo/iot-logo.png">
        </div>

        <!--------------------------------------------------------------------------------------------->
        <!-- Dropzone -->
        <!--------------------------------------------------------------------------------------------->
        <div class="flex flex-col flex-auto items-center p-6 sm:p-10">
            <div class="flex flex-col w-full max-w-4xl">
                <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label>Drop JSON files containing data reported by IoT devices to merge them
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>
            <!--------------------------------------------------------------------------------------------->
            <!-- Action -->
            <!--------------------------------------------------------------------------------------------->
            <div class="flex flex-row w-full items-end justify-end max-w-4xl mt-4">
                <button *ngIf="files.length > 0" id="submit-btn" color="primary" (click)="submit()" class="ml-4" mat-flat-button type="button">
                    <span class="uppercase">Merge</span>
                </button>
            </div>
        </div>
    </div>
</div>
